<html>

<head>
    <!-- Behavioral metadata -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Stickybeak</title>
    <!-- Styles, Lottie & icons-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='card_style.css') }}">
  <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"/>

</head>

<body >
  {% block content %}
  {% endblock %}

    <!-- script imports-->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='parallax.js') }}"></script> -->
    <!-- <img src="{{url_for('static', filename='bg1.png')}}" /> -->
</body>
