{% extends "base.html" %}

{% block content %}
<section class="cd-section visible">
    <div>
        <h2>test test</h2>
    </div>
</section>

<section class="cd-section">
    <div>
        <h2>test 2</h2>
    </div>
</section>

<section class="cd-section">
    <div>
        <h2>test 3</h2>
    </div>
</section>

<section class="cd-section">
    <div>
        <h2>test 4</h2>
    </div>
</section>

<section class="cd-section">
    <div>
        <h2>test 5</h2>
    </div>
</section>

<nav>
    <ul class="cd-vertical-nav">
        <li><a href="#0" class="cd-prev inactive">Next</a></li>
        <li><a href="#0" class="cd-next">Prev</a></li>
    </ul>
</nav> <!-- .cd-vertical-nav -->


{% endblock %}  